<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/headFragment :: headFragment('pizza menu')"></th:block>
</head>
<body>

<nav th:replace="fragments/navFragment :: navFragment"></nav>

<h1>details</h1>
<form th:replace="fragments/searchFragment :: searchFragment"></form>

<div>
    <h3 th:text="${pizza.name}"></h3>
    <img th:src="${pizza.image}" alt="immagine pizza">
    <p th:text="${pizza.description}"></p>
    <span th:text="${pizza.price}"></span>
</div>

</body>
</html>