<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>pizza</title>
</head>
<body>

<nav>
    <div>
        <a th:href="@{/pizza-list}">
            pizza list
        </a>

    </div>
</nav>

<h1>Pizza list</h1>

<div th:unless="${pizzaList.size() > 0}">
    <p>
        There are no pizza's in the menu
    </p>
</div>

<ul th:if="${pizzaList.size() > 0}">
    <li th:each="pizza : ${pizzaList}">
        <h3 th:text="${pizza.getName()}"></h3>
        <br>
        <img th:src="${pizza.getImage()}" alt="">
        <p th:text="${pizza.getDescription()}"></p>
        <span>[['prezzo: ' + ${pizza.getPrice()} + ' €']]</span>
        <a th:href="@{/pizza-list/detail/{id}(id=${pizza.getId()})}">details</a>

    </li>
</ul>

</body>
</html>